#codeSection {
	width: 80%;
	height: auto;
	max-width: 1200px;
	margin: auto;

	h2 {
		color: $white;
		font-size: 4.5em;
		font-weight: 900;
		margin: 5%;
		text-align: center;

		span {
			font-weight: 100;
		}
	}
	figure {
		display: inline-block;
		position: relative;
		overflow: hidden;
		width: 25%;
		padding: 5% 0;

		@media screen and (max-width:1220px) {
			width: 40%;
		}
		@media screen and (max-width:1050px) {
			width: 80%;
			margin: 0 10%;
		}
		img {
			width: 100%;
			height: auto;
			border-radius: 15px;
		}
	}
	figcaption {
		position: absolute;
		background: rgba(102, 102, 102, 0.95);
		color: white;
		padding: 10% 20%;
		opacity: 0;
		bottom: -30%;
		left: 5%;
		right: 5%;
		font-family: $lato;
		font-size: 1.2em;
		text-align: center;
		-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
	}
	figure:hover figcaption {
		opacity: 1;
		bottom: 0;
	}
}